@page
@model HomeWork.Views.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.EnrollmentNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.EnrollmentNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.PhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Batch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Batch.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
